<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            THE RECOVERY JOURNAL
        </title>
    </head>
    <body>
        <h3>
            THE RECOVERY JOURNAL:  LOGIN
        </h3>
        <p>
        
            <form action="/login/check" method="post">
                USERNAME: <input type="text" name="username">  <br />
                PASSWORD: <input type="text" name="password"> <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>