<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
  <meta charset="UTF-8">
  <title>The Recovery Journal</title>

  
  
  <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head><body>
<nav> <a href="/home/">The Recovery Journal</a> </nav>
<hr>
<div class="content"> {% block content %} {% endblock %} </div>

</body></html>