

{% extends 'base.html' %}

{% block content %}
   
    
      <a href = "/home/">Go back to home page</a><br><br>
        
         {% for row in rows %}
            
               {{row["entrydate"]}}<br>
               {{row["entry"]}}<br>
               <form action="/edit/" method="post"> 
               <input name={{row["entrydate"]}} value="EDIT" type="submit"> </form>

               <br>
               <br>

            
            
{% endfor %}
      
     
      <a href = "/home/">Go back to home page</a>
{% endblock %}
        